apex==0.9.10dev
attrs==22.2.0
boto3==1.28.17
botocore==1.31.17
clip==1.0
# detectron2==0.6+cu111
dtw==1.4.0
fastdtw==0.3.4
GitPython==3.1.30
# grpc==1.0.0
gym==0.26.2
habitat_sim==0.2.1
ifcfg==0.24
imageio==2.25.0
ipython==7.34.0
jsonlines==3.1.0
lmdb==1.4.1
magnum==0.0.0
matplotlib==3.3.2
mock==5.1.0
msgpack_numpy==0.4.8
networkx==2.6.3
numba==0.56.4
# numba==0.55.1
numpy==1.21.5
numpy_quaternion==2022.4.2
# numpy_quaternion==2022.4.1
openai==0.27.8
opencv_python==4.7.0.68
opencv_python_headless==4.5.5.64
pickle5==0.0.12
Pillow==8.3.2
# Pillow==10.0.0
pybullet==3.2.5
pygame==2.5.1
pytest==7.4.0
pytorch_transformers==1.2.0
Requests==2.31.0
salesforce_lavis==1.0.2
scikit_image==0.19.3
scipy==1.7.3
setuptools==59.5.0
six==1.16.0
tenacity==8.2.2
tensorflow==2.13.0
torch==1.10.2
torchvision==0.11.3
tqdm==4.64.1
transformers==4.26.1
webdataset==0.2.48
yacs==0.1.8
